# Groupby : aplit-apply-combine

- https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

"group by"는 아래 단계를 하나 혹은 그 이상 적용하는 것이다.

 - splitting: 어떤 분류를 기반으로 데이터를 그룹로 작성
 - applying: 각 개별 그룹에 적용하는 함수
 - combining: 결과를 구조화 한다.

pandas 객체는 모든 축(axis)에서 분할 할 수 있습니다. 그룹화의 추상적 인 정의는 레이블을 그룹 이름에 매핑하는 것입니다.

이 중에서 분할이 가장 간단하다.

여기서는 **2021 시가총액 데이터(pickle)** 을 사용하고 있다.

 - marcap_2021.pkl : 21년 업데이트하는 데이터

Date (날짜)를 인덱스(DatetimeIndex)로 포함하고 있으며, 컬럼 구성은 다음과 같습니다.

- Date : 날짜 (DatetimeIndex)
- Rank: 시가총액 순위 (당일)
- Code : 종목코드
- Name : 종명이름
- Open : 시가
- High : 고가
- Low : 저가
- Close : 종가
- Volume : 거래량
- Amount : 거래대금
- Changes : 전일대비
- ChangeCode: 등락 기호
- ChagesRatio : 전일대비 등락률
- Marcap : 시가총액(백만원)
- Stocks : 상장주식수
- MarketId : 시장기호
- Market : 시장
- Dept : 부서(한국거래소)

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sys

# 한글 폰트 들여오는 library
sys.path.append('../Libraries') 
import load_hangul_fonts

# matplotlib 설정
plt.rcParams["axes.grid"] = True
plt.rcParams["figure.figsize"] = (10,3)
plt.rcParams["axes.formatter.useoffset"] = False
plt.rcParams['axes.unicode_minus'] = False
plt.rcParams["axes.formatter.limits"] = -10000, 10000

In [2]:
pd.options.display.float_format = '{:.1f}'.format

df2020 = pd.read_csv('data/marcap-2020.csv.gz')
df2020.head(3)

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank,Date
0,005930,삼성전자,KOSPI,NaN,55200.0,2,-600.0,-1.1,55500.0,56000.0,55000.0,12993228.0,719663194492.0,329531996760000.0,5969782550,STK,1,2020-01-02
1,000660,SK하이닉스,KOSPI,NaN,94700.0,1,600.0,0.6,96000.0,96200.0,94100.0,2342070.0,222841408700.0,68941823965500.0,728002365,STK,2,2020-01-02
2,005935,삼성전자우,KOSPI,NaN,45600.0,1,200.0,0.4,45750.0,45950.0,45150.0,1512362.0,68943333400.0,37523633520000.0,822886700,STK,3,2020-01-02

groupby에 그룹키를 지시하면, 주어진 키 column을 축으로 그룹화한 DataframeGroupBy 객체가 생성된다.

In [4]:
df2020.groupby('Date')

여러 컬럼을 묶어 그룹으로 반환할 수 있다.

In [6]:
df2020.groupby(['Date', 'Code'])

데이터프레임에 멀티 인덱스가 지정되어 있으면

In [23]:
df2 = df.set_index(['Date', 'Code'])
df2.head(3)

                   Name Market Dept   Close  Changes  ChagesRatio    Open  \
Date     Code
20210105 005930    삼성전자  KOSPI  NaN   83900      900          1.1   81600
         000660  SK하이닉스  KOSPI  NaN  130500     4500          3.6  124500
         051910    LG화학  KOSPI  NaN  893000     4000          0.5  891000

                   High     Low    Volume         Amount           Marcap  \
Date     Code
20210105 005930   83900   81600  35335669  2915618322800  500864755945000
         000660  132500  124000   7180224   920710588023   95004308632500
         051910  893000  875000    371709   328783712000   63038962299000

                     Stocks  Rank  ChangeCode MarketId
Date     Code
20210105 005930  5969782550     1           1      STK
         000660   728002365     2           1      STK
         051910    70592343     3           1      STK

In [24]:
df2.groupby('Date')

In [26]:
df2.groupby('Date').sum()[:5]

,Close,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,Rank,ChangeCode
Date,,,,,,,,,,,,
20210105,66630981,789478,2325.4,65202544,67260905,64078571,3329450921,45256623710668,2457631628903843,100848044679,3204243,4015
20210106,66512227,-118754,746.4,66271797,67819958,64695985,3775366874,47451684009838,2440392499088799,100868494020,3204245,4306
20210107,67443282,985855,3282.8,66556816,68285807,65420593,3782678504,45401273391905,2485653093321040,101039467673,3204245,3841
20210108,68127228,683946,-421.0,67668883,69392664,65921097,3856835248,61285885180079,2569642637935742,101070068237,3204244,4471
20210111,67217250,-909978,-4205.2,67989393,69502297,64936372,3914777717,64852458288222,2566402648095825,101104922827,3204245,4776

### DataFrameGroupBy 객체 속성

In [9]:
dg = df.groupby('Date')
dg

In [10]:
dg.groups

{20210105: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...], 20210106: [2531, 2532, 2533, 2534, 2535, 2536, 2537, 2538, 2539, 2540, 2541, 2542, 2543, 2544, 2545, 2546, 2547, 2548, 2549, 2550, 2551, 2552, 2553, 2554, 2555, 2556, 2557, 2558, 2559, 2560, 2561, 2562, 2563, 2564, 2565, 2566, 2567, 2568, 2569, 2570, 2571, 2572, 2573, 2574, 2575, 2576, 2577, 2578, 2579, 2580, 2581, 2582, 2583, 2584, 2585, 2586, 2587, 2588, 2589, 2590, 2591, 2592, 2593, 2594, 2595, 2596, 2597, 2598, 2599, 2600, 2601, 2602, 2603, 2604, 2605, 2606, 2607, 2608, 2609, 2610, 2611, 2612, 2613, 2614, 2615, 2616, 2617, 2618, 2619, 2620, 2621, 2622, 2623, 2624, 2625, 2626, 2627, 2628, 2629, 2630, ...], 20210107: [5062, 5063, 5064, 5065, 5066, 5067, 5068, 5069, 5070, 5071, 5072, 5073, 5074, 5075, 5076, 5077, 5078, 5079, 5080, 5081, 5082, 5083, 5084, 5085, 5086, 5087, 5088, 5089, 5090, 5091, 5092, 5093, 5094, 5095, 5096, 5097, 5098, 5099, 5100, 5101, 5102, 5103, 5104, 5105, 5106, 5107, 5108, 5109, 5110, 5111, 5112, 5113, 5114, 5115, 5116, 5117, 5118, 5119, 5120, 5121, 5122, 5123, 5124, 5125, 5126, 5127, 5128, 5129, 5130, 5131, 5132, 5133, 5134, 5135, 5136, 5137, 5138, 5139, 5140, 5141, 5142, 5143, 5144, 5145, 5146, 5147, 5148, 5149, 5150, 5151, 5152, 5153, 5154, 5155, 5156, 5157, 5158, 5159, 5160, 5161, ...], 20210108: [7593, 7594, 7595, 7596, 7597, 7598, 7599, 7600, 7601, 7602, 7603, 7604, 7605, 7606, 7607, 7608, 7609, 7610, 7611, 7612, 7613, 7614, 7615, 7616, 7617, 7618, 7619, 7620, 7621, 7622, 7623, 7624, 7625, 7626, 7627, 7628, 7629, 7630, 7631, 7632, 7633, 7634, 7635, 7636, 7637, 7638, 7639, 7640, 7641, 7642, 7643, 7644, 7645, 7646, 7647, 7648, 7649, 7650, 7651, 7652, 7653, 7654, 7655, 7656, 7657, 7658, 7659, 7660, 7661, 7662, 7663, 7664, 7665, 7666, 7667, 7668, 7669, 7670, 7671, 7672, 7673, 7674, 7675, 7676, 7677, 7678, 7679, 7680, 7681, 7682, 7683, 7684, 7685, 7686, 7687, 7688, 7689, 7690, 7691, 7692, ...], 20210111: [10124, 10125, 10126, 10127, 10128, 10129, 10130, 10131, 10132, 10133, 10134, 10135, 10136, 10137, 10138, 10139, 10140, 10141, 10142, 10143, 10144, 10145, 10146, 10147, 10148, 10149, 10150, 10151, 10152, 10153, 10154, 10155, 10156, 10157, 10158, 10159, 10160, 10161, 10162, 10163, 10164, 10165, 10166, 10167, 10168, 10169, 10170, 10171, 10172, 10173, 10174, 10175, 10176, 10177, 10178, 10179, 10180, 10181, 10182, 10183, 10184, 10185, 10186, 10187, 10188, 10189, 10190, 10191, 10192, 10193, 10194, 10195, 10196, 10197, 10198, 10199, 10200, 10201, 10202, 10203, 10204, 10205, 10206, 10207, 10208, 10209, 10210, 10211, 10212, 10213, 10214, 10215, 10216, 10217, 10218, 10219, 10220, 10221, 10222, 10223, ...], 20210112: [12655, 12656, 12657, 12658, 12659, 12660, 12661, 12662, 12663, 12664, 12665, 12666, 12667, 12668, 12669, 12670, 12671, 12672, 12673, 12674, 12675, 12676, 12677, 12678, 12679, 12680, 12681, 12682, 12683, 12684, 12685, 12686, 12687, 12688, 12689, 12690, 12691, 12692, 12693, 12694, 12695, 12696, 12697, 12698, 12699, 12700, 12701, 12702, 12703, 12704, 12705, 12706, 12707, 12708, 12709, 12710, 12711, 12712, 12713, 12714, 12715, 12716, 12717, 12718, 12719, 12720, 12721, 12722, 12723, 12724, 12725, 12726, 12727, 12728, 12729, 12730, 12731, 12732, 12733, 12734, 12735, 12736, 12737, 12738, 12739, 12740, 12741, 12742, 12743, 12744, 12745, 12746, 12747, 12748, 12749, 12750, 12751, 12752, 12753, 12754, ...], 20210113: [15186, 15187, 15188, 15189, 15190, 15191, 15192, 15193, 15194, 15195, 15196, 15197, 15198, 15199, 15200, 15201, 15202, 15203, 15204, 15205, 15206, 15207, 15208, 15209, 15210, 15211, 15212, 15213, 15214, 15215, 15216, 15217, 15218, 15219, 15220, 15221, 15222, 15223, 15224, 15225, 15226, 15227, 15228, 15229, 15230, 15231, 15232, 15233, 15234, 15235, 15236, 15237, 15238, 15239, 15240, 15241, 15242, 15243, 15244, 15245, 15246, 15247, 15248, 15249, 15250, 15251, 15252, 15253, 15254, 15255, 15256, 15257, 15258, 15259, 15260, 15261, 15262, 15263, 15264, 15265, 15266, 15267, 15268, 15269, 15270, 15271, 15272, 15273, 15274, 15275, 15276, 15277, 15278, 15279, 15280, 15281, 15282, 15283, 15284, 15285, ...], 20210114: [17717, 17718, 17719, 17720, 17721, 17722, 17723, 17724, 17725, 17726, 17727, 17728, 17729, 17730, 17731, 17732, 17733, 17734, 17735, 17736, 17737, 17738, 17739, 17740, 17741, 17742, 17743, 17744, 17745, 17746, 17747, 17748, 17749, 17750, 17751, 17752, 17753, 17754, 17755, 17756, 17757, 17758, 17759, 17760, 17761, 17762, 17763, 17764, 17765, 17766, 17767, 17768, 17769, 17770, 17771, 17772, 17773, 17774, 17775, 17776, 17777, 17778, 17779, 17780, 17781, 17782, 17783, 17784, 17785, 17786, 17787, 17788, 17789, 17790, 17791, 17792, 17793, 17794, 17795, 17796, 17797, 17798, 17799, 17800, 17801, 17802, 17803, 17804, 17805, 17806, 17807, 17808, 17809, 17810, 17811, 17812, 17813, 17814, 17815, 17816, ...], 20210115: [20248, 20249, 20250, 20251, 20252, 20253, 20254, 20255, 20256, 20257, 20258, 20259, 20260, 20261, 20262, 20263, 20264, 20265, 20266, 20267, 20268, 20269, 20270, 20271, 20272, 20273, 20274, 20275, 20276, 20277, 20278, 20279, 20280, 20281, 20282, 20283, 20284, 20285, 20286, 20287, 20288, 20289, 20290, 20291, 20292, 20293, 20294, 20295, 20296, 20297, 20298, 20299, 20300, 20301, 20302, 20303, 20304, 20305, 20306, 20307, 20308, 20309, 20310, 20311, 20312, 20313, 20314, 20315, 20316, 20317, 20318, 20319, 20320, 20321, 20322, 20323, 20324, 20325, 20326, 20327, 20328, 20329, 20330, 20331, 20332, 20333, 20334, 20335, 20336, 20337, 20338, 20339, 20340, 20341, 20342, 20343, 20344, 20345, 20346, 20347, ...], 20210118: [22778, 22779, 22780, 22781, 22782, 22783, 22784, 22785, 22786, 22787, 22788, 22789, 22790, 22791, 22792, 22793, 22794, 22795, 22796, 22797, 22798, 22799, 22800, 22801, 22802, 22803, 22804, 22805, 22806, 22807, 22808, 22809, 22810, 22811, 22812, 22813, 22814, 22815, 22816, 22817, 22818, 22819, 22820, 22821, 22822, 22823, 22824, 22825, 22826, 22827, 22828, 22829, 22830, 22831, 22832, 22833, 22834, 22835, 22836, 22837, 22838, 22839, 22840, 22841, 22842, 22843, 22844, 22845, 22846, 22847, 22848, 22849, 22850, 22851, 22852, 22853, 22854, 22855, 22856, 22857, 22858, 22859, 22860, 22861, 22862, 22863, 22864, 22865, 22866, 22867, 22868, 22869, 22870, 22871, 22872, 22873, 22874, 22875, 22876, 22877, ...], 20210119: [25308, 25309, 25310, 25311, 25312, 25313, 25314, 25315, 25316, 25317, 25318, 25319, 25320, 25321, 25322, 25323, 25324, 25325, 25326, 25327, 25328, 25329, 25330, 25331, 25332, 25333, 25334, 25335, 25336, 25337, 25338, 25339, 25340, 25341, 25342, 25343, 25344, 25345, 25346, 25347, 25348, 25349, 25350, 25351, 25352, 25353, 25354, 25355, 25356, 25357, 25358, 25359, 25360, 25361, 25362, 25363, 25364, 25365, 25366, 25367, 25368, 25369, 25370, 25371, 25372, 25373, 25374, 25375, 25376, 25377, 25378, 25379, 25380, 25381, 25382, 25383, 25384, 25385, 25386, 25387, 25388, 25389, 25390, 25391, 25392, 25393, 25394, 25395, 25396, 25397, 25398, 25399, 25400, 25401, 25402, 25403, 25404, 25405, 25406, 25407, ...], 20210120: [27838, 27839, 27840, 27841, 27842, 27843, 27844, 27845, 27846, 27847, 27848, 27849, 27850, 27851, 27852, 27853, 27854, 27855, 27856, 27857, 27858, 27859, 27860, 27861, 27862, 27863, 27864, 27865, 27866, 27867, 27868, 27869, 27870, 27871, 27872, 27873, 27874, 27875, 27876, 27877, 27878, 27879, 27880, 27881, 27882, 27883, 27884, 27885, 27886, 27887, 27888, 27889, 27890, 27891, 27892, 27893, 27894, 27895, 27896, 27897, 27898, 27899, 27900, 27901, 27902, 27903, 27904, 27905, 27906, 27907, 27908, 27909, 27910, 27911, 27912, 27913, 27914, 27915, 27916, 27917, 27918, 27919, 27920, 27921, 27922, 27923, 27924, 27925, 27926, 27927, 27928, 27929, 27930, 27931, 27932, 27933, 27934, 27935, 27936, 27937, ...], 20210121: [30368, 30369, 30370, 30371, 30372, 30373, 30374, 30375, 30376, 30377, 30378, 30379, 30380, 30381, 30382, 30383, 30384, 30385, 30386, 30387, 30388, 30389, 30390, 30391, 30392, 30393, 30394, 30395, 30396, 30397, 30398, 30399, 30400, 30401, 30402, 30403, 30404, 30405, 30406, 30407, 30408, 30409, 30410, 30411, 30412, 30413, 30414, 30415, 30416, 30417, 30418, 30419, 30420, 30421, 30422, 30423, 30424, 30425, 30426, 30427, 30428, 30429, 30430, 30431, 30432, 30433, 30434, 30435, 30436, 30437, 30438, 30439, 30440, 30441, 30442, 30443, 30444, 30445, 30446, 30447, 30448, 30449, 30450, 30451, 30452, 30453, 30454, 30455, 30456, 30457, 30458, 30459, 30460, 30461, 30462, 30463, 30464, 30465, 30466, 30467, ...], 20210122: [32900, 32901, 32902, 32903, 32904, 32905, 32906, 32907, 32908, 32909, 32910, 32911, 32912, 32913, 32914, 32915, 32916, 32917, 32918, 32919, 32920, 32921, 32922, 32923, 32924, 32925, 32926, 32927, 32928, 32929, 32930, 32931, 32932, 32933, 32934, 32935, 32936, 32937, 32938, 32939, 32940, 32941, 32942, 32943, 32944, 32945, 32946, 32947, 32948, 32949, 32950, 32951, 32952, 32953, 32954, 32955, 32956, 32957, 32958, 32959, 32960, 32961, 32962, 32963, 32964, 32965, 32966, 32967, 32968, 32969, 32970, 32971, 32972, 32973, 32974, 32975, 32976, 32977, 32978, 32979, 32980, 32981, 32982, 32983, 32984, 32985, 32986, 32987, 32988, 32989, 32990, 32991, 32992, 32993, 32994, 32995, 32996, 32997, 32998, 32999, ...], 20210125: [35432, 35433, 35434, 35435, 35436, 35437, 35438, 35439, 35440, 35441, 35442, 35443, 35444, 35445, 35446, 35447, 35448, 35449, 35450, 35451, 35452, 35453, 35454, 35455, 35456, 35457, 35458, 35459, 35460, 35461, 35462, 35463, 35464, 35465, 35466, 35467, 35468, 35469, 35470, 35471, 35472, 35473, 35474, 35475, 35476, 35477, 35478, 35479, 35480, 35481, 35482, 35483, 35484, 35485, 35486, 35487, 35488, 35489, 35490, 35491, 35492, 35493, 35494, 35495, 35496, 35497, 35498, 35499, 35500, 35501, 35502, 35503, 35504, 35505, 35506, 35507, 35508, 35509, 35510, 35511, 35512, 35513, 35514, 35515, 35516, 35517, 35518, 35519, 35520, 35521, 35522, 35523, 35524, 35525, 35526, 35527, 35528, 35529, 35530, 35531, ...], 20210126: [37966, 37967, 37968, 37969, 37970, 37971, 37972, 37973, 37974, 37975, 37976, 37977, 37978, 37979, 37980, 37981, 37982, 37983, 37984, 37985, 37986, 37987, 37988, 37989, 37990, 37991, 37992, 37993, 37994, 37995, 37996, 37997, 37998, 37999, 38000, 38001, 38002, 38003, 38004, 38005, 38006, 38007, 38008, 38009, 38010, 38011, 38012, 38013, 38014, 38015, 38016, 38017, 38018, 38019, 38020, 38021, 38022, 38023, 38024, 38025, 38026, 38027, 38028, 38029, 38030, 38031, 38032, 38033, 38034, 38035, 38036, 38037, 38038, 38039, 38040, 38041, 38042, 38043, 38044, 38045, 38046, 38047, 38048, 38049, 38050, 38051, 38052, 38053, 38054, 38055, 38056, 38057, 38058, 38059, 38060, 38061, 38062, 38063, 38064, 38065, ...], 20210127: [40499, 40500, 40501, 40502, 40503, 40504, 40505, 40506, 40507, 40508, 40509, 40510, 40511, 40512, 40513, 40514, 40515, 40516, 40517, 40518, 40519, 40520, 40521, 40522, 40523, 40524, 40525, 40526, 40527, 40528, 40529, 40530, 40531, 40532, 40533, 40534, 40535, 40536, 40537, 40538, 40539, 40540, 40541, 40542, 40543, 40544, 40545, 40546, 40547, 40548, 40549, 40550, 40551, 40552, 40553, 40554, 40555, 40556, 40557, 40558, 40559, 40560, 40561, 40562, 40563, 40564, 40565, 40566, 40567, 40568, 40569, 40570, 40571, 40572, 40573, 40574, 40575, 40576, 40577, 40578, 40579, 40580, 40581, 40582, 40583, 40584, 40585, 40586, 40587, 40588, 40589, 40590, 40591, 40592, 40593, 40594, 40595, 40596, 40597, 40598, ...], 20210128: [43033, 43034, 43035, 43036, 43037, 43038, 43039, 43040, 43041, 43042, 43043, 43044, 43045, 43046, 43047, 43048, 43049, 43050, 43051, 43052, 43053, 43054, 43055, 43056, 43057, 43058, 43059, 43060, 43061, 43062, 43063, 43064, 43065, 43066, 43067, 43068, 43069, 43070, 43071, 43072, 43073, 43074, 43075, 43076, 43077, 43078, 43079, 43080, 43081, 43082, 43083, 43084, 43085, 43086, 43087, 43088, 43089, 43090, 43091, 43092, 43093, 43094, 43095, 43096, 43097, 43098, 43099, 43100, 43101, 43102, 43103, 43104, 43105, 43106, 43107, 43108, 43109, 43110, 43111, 43112, 43113, 43114, 43115, 43116, 43117, 43118, 43119, 43120, 43121, 43122, 43123, 43124, 43125, 43126, 43127, 43128, 43129, 43130, 43131, 43132, ...], 20210129: [45569, 45570, 45571, 45572, 45573, 45574, 45575, 45576, 45577, 45578, 45579, 45580, 45581, 45582, 45583, 45584, 45585, 45586, 45587, 45588, 45589, 45590, 45591, 45592, 45593, 45594, 45595, 45596, 45597, 45598, 45599, 45600, 45601, 45602, 45603, 45604, 45605, 45606, 45607, 45608, 45609, 45610, 45611, 45612, 45613, 45614, 45615, 45616, 45617, 45618, 45619, 45620, 45621, 45622, 45623, 45624, 45625, 45626, 45627, 45628, 45629, 45630, 45631, 45632, 45633, 45634, 45635, 45636, 45637, 45638, 45639, 45640, 45641, 45642, 45643, 45644, 45645, 45646, 45647, 45648, 45649, 45650, 45651, 45652, 45653, 45654, 45655, 45656, 45657, 45658, 45659, 45660, 45661, 45662, 45663, 45664, 45665, 45666, 45667, 45668, ...], 20210201: [48106, 48107, 48108, 48109, 48110, 48111, 48112, 48113, 48114, 48115, 48116, 48117, 48118, 48119, 48120, 48121, 48122, 48123, 48124, 48125, 48126, 48127, 48128, 48129, 48130, 48131, 48132, 48133, 48134, 48135, 48136, 48137, 48138, 48139, 48140, 48141, 48142, 48143, 48144, 48145, 48146, 48147, 48148, 48149, 48150, 48151, 48152, 48153, 48154, 48155, 48156, 48157, 48158, 48159, 48160, 48161, 48162, 48163, 48164, 48165, 48166, 48167, 48168, 48169, 48170, 48171, 48172, 48173, 48174, 48175, 48176, 48177, 48178, 48179, 48180, 48181, 48182, 48183, 48184, 48185, 48186, 48187, 48188, 48189, 48190, 48191, 48192, 48193, 48194, 48195, 48196, 48197, 48198, 48199, 48200, 48201, 48202, 48203, 48204, 48205, ...], 20210202: [50643, 50644, 50645, 50646, 50647, 50648, 50649, 50650, 50651, 50652, 50653, 50654, 50655, 50656, 50657, 50658, 50659, 50660, 50661, 50662, 50663, 50664, 50665, 50666, 50667, 50668, 50669, 50670, 50671, 50672, 50673, 50674, 50675, 50676, 50677, 50678, 50679, 50680, 50681, 50682, 50683, 50684, 50685, 50686, 50687, 50688, 50689, 50690, 50691, 50692, 50693, 50694, 50695, 50696, 50697, 50698, 50699, 50700, 50701, 50702, 50703, 50704, 50705, 50706, 50707, 50708, 50709, 50710, 50711, 50712, 50713, 50714, 50715, 50716, 50717, 50718, 50719, 50720, 50721, 50722, 50723, 50724, 50725, 50726, 50727, 50728, 50729, 50730, 50731, 50732, 50733, 50734, 50735, 50736, 50737, 50738, 50739, 50740, 50741, 50742, ...], 20210203: [53181, 53182, 53183, 53184, 53185, 53186, 53187, 53188, 53189, 53190, 53191, 53192, 53193, 53194, 53195, 53196, 53197, 53198, 53199, 53200, 53201, 53202, 53203, 53204, 53205, 53206, 53207, 53208, 53209, 53210, 53211, 53212, 53213, 53214, 53215, 53216, 53217, 53218, 53219, 53220, 53221, 53222, 53223, 53224, 53225, 53226, 53227, 53228, 53229, 53230, 53231, 53232, 53233, 53234, 53235, 53236, 53237, 53238, 53239, 53240, 53241, 53242, 53243, 53244, 53245, 53246, 53247, 53248, 53249, 53250, 53251, 53252, 53253, 53254, 53255, 53256, 53257, 53258, 53259, 53260, 53261, 53262, 53263, 53264, 53265, 53266, 53267, 53268, 53269, 53270, 53271, 53272, 53273, 53274, 53275, 53276, 53277, 53278, 53279, 53280, ...], 20210204: [55721, 55722, 55723, 55724, 55725, 55726, 55727, 55728, 55729, 55730, 55731, 55732, 55733, 55734, 55735, 55736, 55737, 55738, 55739, 55740, 55741, 55742, 55743, 55744, 55745, 55746, 55747, 55748, 55749, 55750, 55751, 55752, 55753, 55754, 55755, 55756, 55757, 55758, 55759, 55760, 55761, 55762, 55763, 55764, 55765, 55766, 55767, 55768, 55769, 55770, 55771, 55772, 55773, 55774, 55775, 55776, 55777, 55778, 55779, 55780, 55781, 55782, 55783, 55784, 55785, 55786, 55787, 55788, 55789, 55790, 55791, 55792, 55793, 55794, 55795, 55796, 55797, 55798, 55799, 55800, 55801, 55802, 55803, 55804, 55805, 55806, 55807, 55808, 55809, 55810, 55811, 55812, 55813, 55814, 55815, 55816, 55817, 55818, 55819, 55820, ...], 20210205: [58262, 58263, 58264, 58265, 58266, 58267, 58268, 58269, 58270, 58271, 58272, 58273, 58274, 58275, 58276, 58277, 58278, 58279, 58280, 58281, 58282, 58283, 58284, 58285, 58286, 58287, 58288, 58289, 58290, 58291, 58292, 58293, 58294, 58295, 58296, 58297, 58298, 58299, 58300, 58301, 58302, 58303, 58304, 58305, 58306, 58307, 58308, 58309, 58310, 58311, 58312, 58313, 58314, 58315, 58316, 58317, 58318, 58319, 58320, 58321, 58322, 58323, 58324, 58325, 58326, 58327, 58328, 58329, 58330, 58331, 58332, 58333, 58334, 58335, 58336, 58337, 58338, 58339, 58340, 58341, 58342, 58343, 58344, 58345, 58346, 58347, 58348, 58349, 58350, 58351, 58352, 58353, 58354, 58355, 58356, 58357, 58358, 58359, 58360, 58361, ...], 20210208: [60805, 60806, 60807, 60808, 60809, 60810, 60811, 60812, 60813, 60814, 60815, 60816, 60817, 60818, 60819, 60820, 60821, 60822, 60823, 60824, 60825, 60826, 60827, 60828, 60829, 60830, 60831, 60832, 60833, 60834, 60835, 60836, 60837, 60838, 60839, 60840, 60841, 60842, 60843, 60844, 60845, 60846, 60847, 60848, 60849, 60850, 60851, 60852, 60853, 60854, 60855, 60856, 60857, 60858, 60859, 60860, 60861, 60862, 60863, 60864, 60865, 60866, 60867, 60868, 60869, 60870, 60871, 60872, 60873, 60874, 60875, 60876, 60877, 60878, 60879, 60880, 60881, 60882, 60883, 60884, 60885, 60886, 60887, 60888, 60889, 60890, 60891, 60892, 60893, 60894, 60895, 60896, 60897, 60898, 60899, 60900, 60901, 60902, 60903, 60904, ...], 20210209: [63348, 63349, 63350, 63351, 63352, 63353, 63354, 63355, 63356, 63357, 63358, 63359, 63360, 63361, 63362, 63363, 63364, 63365, 63366, 63367, 63368, 63369, 63370, 63371, 63372, 63373, 63374, 63375, 63376, 63377, 63378, 63379, 63380, 63381, 63382, 63383, 63384, 63385, 63386, 63387, 63388, 63389, 63390, 63391, 63392, 63393, 63394, 63395, 63396, 63397, 63398, 63399, 63400, 63401, 63402, 63403, 63404, 63405, 63406, 63407, 63408, 63409, 63410, 63411, 63412, 63413, 63414, 63415, 63416, 63417, 63418, 63419, 63420, 63421, 63422, 63423, 63424, 63425, 63426, 63427, 63428, 63429, 63430, 63431, 63432, 63433, 63434, 63435, 63436, 63437, 63438, 63439, 63440, 63441, 63442, 63443, 63444, 63445, 63446, 63447, ...], 20210210: [65890, 65891, 65892, 65893, 65894, 65895, 65896, 65897, 65898, 65899, 65900, 65901, 65902, 65903, 65904, 65905, 65906, 65907, 65908, 65909, 65910, 65911, 65912, 65913, 65914, 65915, 65916, 65917, 65918, 65919, 65920, 65921, 65922, 65923, 65924, 65925, 65926, 65927, 65928, 65929, 65930, 65931, 65932, 65933, 65934, 65935, 65936, 65937, 65938, 65939, 65940, 65941, 65942, 65943, 65944, 65945, 65946, 65947, 65948, 65949, 65950, 65951, 65952, 65953, 65954, 65955, 65956, 65957, 65958, 65959, 65960, 65961, 65962, 65963, 65964, 65965, 65966, 65967, 65968, 65969, 65970, 65971, 65972, 65973, 65974, 65975, 65976, 65977, 65978, 65979, 65980, 65981, 65982, 65983, 65984, 65985, 65986, 65987, 65988, 65989, ...], 20210215: [68433, 68434, 68435, 68436, 68437, 68438, 68439, 68440, 68441, 68442, 68443, 68444, 68445, 68446, 68447, 68448, 68449, 68450, 68451, 68452, 68453, 68454, 68455, 68456, 68457, 68458, 68459, 68460, 68461, 68462, 68463, 68464, 68465, 68466, 68467, 68468, 68469, 68470, 68471, 68472, 68473, 68474, 68475, 68476, 68477, 68478, 68479, 68480, 68481, 68482, 68483, 68484, 68485, 68486, 68487, 68488, 68489, 68490, 68491, 68492, 68493, 68494, 68495, 68496, 68497, 68498, 68499, 68500, 68501, 68502, 68503, 68504, 68505, 68506, 68507, 68508, 68509, 68510, 68511, 68512, 68513, 68514, 68515, 68516, 68517, 68518, 68519, 68520, 68521, 68522, 68523, 68524, 68525, 68526, 68527, 68528, 68529, 68530, 68531, 68532, ...], 20210216: [70975, 70976, 70977, 70978, 70979, 70980, 70981, 70982, 70983, 70984, 70985, 70986, 70987, 70988, 70989, 70990, 70991, 70992, 70993, 70994, 70995, 70996, 70997, 70998, 70999, 71000, 71001, 71002, 71003, 71004, 71005, 71006, 71007, 71008, 71009, 71010, 71011, 71012, 71013, 71014, 71015, 71016, 71017, 71018, 71019, 71020, 71021, 71022, 71023, 71024, 71025, 71026, 71027, 71028, 71029, 71030, 71031, 71032, 71033, 71034, 71035, 71036, 71037, 71038, 71039, 71040, 71041, 71042, 71043, 71044, 71045, 71046, 71047, 71048, 7104

그룹의 크기는 len()

In [11]:
len(dg)

42

멀티 인덱스인 경우 axis 로 축을 조정할 수 있다.

In [30]:
dg = df.groupby(['Code', 'Volume'], axis=1)
dg.groups

{(nan, nan): ['Code', 'Name', 'Market', 'Dept', 'Close', 'Changes', 'ChagesRatio', 'Open', 'High', 'Low', 'Volume', 'Amount', 'Marcap', 'Stocks', 'Date', 'Rank', 'ChangeCode', 'MarketId']}

### 열 선택 - SeriesGroupBy

묶인 그룹은 그룹키 인덱스를 통해 얻을 수 있다. 이때 SeriesGroupBy 객체가 반환된다.

In [12]:
dg = df.groupby(['Date'])

In [13]:
dg.groups.keys()

dict_keys([20210105, 20210106, 20210107, 20210108, 20210111, 20210112, 20210113, 20210114, 20210115, 20210118, 20210119, 20210120, 20210121, 20210122, 20210125, 20210126, 20210127, 20210128, 20210129, 20210201, 20210202, 20210203, 20210204, 20210205, 20210208, 20210209, 20210210, 20210215, 20210216, 20210217, 20210218, 20210219, 20210222, 20210223, 20210224, 20210225, 20210226, 20210302, 20210303, 20210304, 20210305, 20210308])

In [19]:
dg_code = dg['Code']
dg_marcap = dg['Marcap']
dg_marcap = print(dg_code, dg_marcap)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x000001A65BE05E80> <pandas.core.groupby.generic.SeriesGroupBy object at 0x000001A65BE05DF0>

In [20]:
dg_code.sum()[:5]

Date
20210105    0059300006600519100059352079400354200682700064...
20210106    0059300006600519100059352079400682700354200064...
20210107    0059300006600519100059352079400682700064000354...
20210108    0059300006600519100059352079400053800354200064...
20210111    0059300006600519100059350053802079400354200682...
Name: Code, dtype: object

아래 같이

In [53]:
df['Code'].groupby(df['Date']).sum()[:5]

Date
20210105    0059300006600519100059352079400354200682700064...
20210106    0059300006600519100059352079400682700354200064...
20210107    0059300006600519100059352079400682700064000354...
20210108    0059300006600519100059352079400053800354200064...
20210111    0059300006600519100059350053802079400354200682...
Name: Code, dtype: object

In [44]:
df.groupby(['Date']).sum()[:5]

,Close,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,Rank,ChangeCode
Date,,,,,,,,,,,,
20210105,66630981,789478,2325.4,65202544,67260905,64078571,3329450921,45256623710668,2457631628903843,100848044679,3204243,4015
20210106,66512227,-118754,746.4,66271797,67819958,64695985,3775366874,47451684009838,2440392499088799,100868494020,3204245,4306
20210107,67443282,985855,3282.8,66556816,68285807,65420593,3782678504,45401273391905,2485653093321040,101039467673,3204245,3841
20210108,68127228,683946,-421.0,67668883,69392664,65921097,3856835248,61285885180079,2569642637935742,101070068237,3204244,4471
20210111,67217250,-909978,-4205.2,67989393,69502297,64936372,3914777717,64852458288222,2566402648095825,101104922827,3204245,4776

In [45]:
df.groupby(df['Date']).sum()[:5]

,Close,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,Rank,ChangeCode
Date,,,,,,,,,,,,
20210105,66630981,789478,2325.4,65202544,67260905,64078571,3329450921,45256623710668,2457631628903843,100848044679,3204243,4015
20210106,66512227,-118754,746.4,66271797,67819958,64695985,3775366874,47451684009838,2440392499088799,100868494020,3204245,4306
20210107,67443282,985855,3282.8,66556816,68285807,65420593,3782678504,45401273391905,2485653093321040,101039467673,3204245,3841
20210108,68127228,683946,-421.0,67668883,69392664,65921097,3856835248,61285885180079,2569642637935742,101070068237,3204244,4471
20210111,67217250,-909978,-4205.2,67989393,69502297,64936372,3914777717,64852458288222,2566402648095825,101104922827,3204245,4776

### `get_group()` group 선택

그룹화 객체에서 그룹을 선택할 수 있다.

In [22]:
dg = df.groupby(['Date'])
dg

In [24]:
dg.get_group('20210105')[:10]

KeyError: '20210105'

In [25]:
dg = df.groupby(['Code'])
dg

In [26]:
dg.get_group('005930')[:10]

,Code,Name,Market,Dept,Close,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,Date,Rank,ChangeCode,MarketId
0,005930,삼성전자,KOSPI,NaN,83900,900,1.1,81600,83900,81600,35335669,2915618322800,500864755945000,5969782550,20210105,1,1,STK
2531,005930,삼성전자,KOSPI,NaN,82200,-1700,-2.0,83300,84500,82100,42089013,3506903681680,490716125610000,5969782550,20210106,1,2,STK
5062,005930,삼성전자,KOSPI,NaN,82900,700,0.8,82800,84200,82700,32644642,2726112459660,494894973395000,5969782550,20210107,1,1,STK
7593,005930,삼성전자,KOSPI,NaN,88800,5900,7.1,83300,90000,83000,59013307,5083939899952,530116690440000,5969782550,20210108,1,1,STK
10124,005930,삼성전자,KOSPI,NaN,91000,2200,2.5,90000,96800,89500,90306177,8379237727064,543250212050000,5969782550,20210111,1,1,STK
12655,005930,삼성전자,KOSPI,NaN,90600,-400,-0.4,90300,91400,87800,48682416,4362546108950,540862299030000,5969782550,20210112,1,2,STK
15186,005930,삼성전자,KOSPI,NaN,89700,-900,-1.0,89800,91200,89100,36068848,3244066562850,535489494735000,5969782550,20210113,1,2,STK
17717,005930,삼성전자,KOSPI,NaN,89700,0,0.0,88700,90000,88700,26393970,2356661622700,535489494735000,5969782550,20210114,1,3,STK
20248,005930,삼성전자,KOSPI,NaN,88000,-1700,-1.9,89800,91800,88000,33431809,2975231937664,525340864400000,5969782550,20210115,1,2,STK
22778,005930,삼성전자,KOSPI,NaN,85000,-3000,-3.4,86600,87300,84100,43227951,3715775992600,507431516750000,5969782550,20210118,1,2,STK

여러 열로 그룹화된 경우도 가능하다.

In [91]:
df.groupby(['Code','Name']).get_group(('005930','삼성전자'))[:10]

,Code,Name,Market,Dept,Close,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,Date,Rank,ChangeCode,MarketId
0,005930,삼성전자,KOSPI,NaN,83900,900,1.1,81600,83900,81600,35335669,2915618322800,500864755945000,5969782550,20210105,1,1,STK
2531,005930,삼성전자,KOSPI,NaN,82200,-1700,-2.0,83300,84500,82100,42089013,3506903681680,490716125610000,5969782550,20210106,1,2,STK
5062,005930,삼성전자,KOSPI,NaN,82900,700,0.8,82800,84200,82700,32644642,2726112459660,494894973395000,5969782550,20210107,1,1,STK
7593,005930,삼성전자,KOSPI,NaN,88800,5900,7.1,83300,90000,83000,59013307,5083939899952,530116690440000,5969782550,20210108,1,1,STK
10124,005930,삼성전자,KOSPI,NaN,91000,2200,2.5,90000,96800,89500,90306177,8379237727064,543250212050000,5969782550,20210111,1,1,STK
12655,005930,삼성전자,KOSPI,NaN,90600,-400,-0.4,90300,91400,87800,48682416,4362546108950,540862299030000,5969782550,20210112,1,2,STK
15186,005930,삼성전자,KOSPI,NaN,89700,-900,-1.0,89800,91200,89100,36068848,3244066562850,535489494735000,5969782550,20210113,1,2,STK
17717,005930,삼성전자,KOSPI,NaN,89700,0,0.0,88700,90000,88700,26393970,2356661622700,535489494735000,5969782550,20210114,1,3,STK
20248,005930,삼성전자,KOSPI,NaN,88000,-1700,-1.9,89800,91800,88000,33431809,2975231937664,525340864400000,5969782550,20210115,1,2,STK
22778,005930,삼성전자,KOSPI,NaN,85000,-3000,-3.4,86600,87300,84100,43227951,3715775992600,507431516750000,5969782550,20210118,1,2,STK

### 반복 처리

이터레이터를 통해 반복 처리도 가능하다. 아래는 코드별 그룹의 이름과 데이터를 사용한 예이다.

In [59]:
dg = df[:10].groupby('Code')
for n, g in dg:
    print(n)
    print(g)

000660
     Code    Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
1  000660  SK하이닉스  KOSPI  NaN  130500     4500          3.6  124500  132500

      Low   Volume        Amount          Marcap     Stocks      Date  Rank  \
1  124000  7180224  920710588023  95004308632500  728002365  20210105     2

   ChangeCode MarketId
1           1      STK
005380
     Code Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
8  005380  현대차  KOSPI  NaN  209500     2000          1.0  207000  213000

      Low   Volume        Amount          Marcap     Stocks      Date  Rank  \
8  205000  3022595  631437838500  44763485176500  213668187  20210105     9

   ChangeCode MarketId
8           1      STK
005930
     Code  Name Market Dept  Close  Changes  ChagesRatio   Open   High    Low  \
0  005930  삼성전자  KOSPI  NaN  83900      900          1.1  81600  83900  81600

     Volume         Amount           Marcap      Stocks      Date  Rank  \
0  35335669  2915618322800  500864755945000  5969782550  20210105     1

   ChangeCode MarketId
0           1      STK
005935
     Code   Name Market Dept  Close  Changes  ChagesRatio   Open   High  \
3  005935  삼성전자우  KOSPI  NaN  75000      600          0.8  73600  75000

     Low   Volume        Amount          Marcap     Stocks      Date  Rank  \
3  73600  3870698  287698558100  61716502500000  822886700  20210105     4

   ChangeCode MarketId
3           1      STK
006400
     Code   Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
7  006400  삼성SDI  KOSPI  NaN  686000    15000          2.2  675000  686000

      Low  Volume        Amount          Marcap    Stocks      Date  Rank  \
7  658000  601692  403850137943  47172467580000  68764530  20210105     8

   ChangeCode MarketId
7           1      STK
035420
     Code   Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
5  035420  NAVER  KOSPI  NaN  292500     -500         -0.2  291500  292500

      Low  Volume        Amount          Marcap     Stocks      Date  Rank  \
5  286500  912657  263680870000  48047043037500  164263395  20210105     6

   ChangeCode MarketId
5           2      STK
035720
     Code Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
9  035720  카카오  KOSPI  NaN  393000    -3000         -0.8  393000  395500

      Low  Volume        Amount          Marcap    Stocks      Date  Rank  \
9  387000  748559  292576965500  34755566508000  88436556  20210105    10

   ChangeCode MarketId
9           2      STK
051910
     Code  Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
2  051910  LG화학  KOSPI  NaN  893000     4000          0.5  891000  893000

      Low  Volume        Amount          Marcap    Stocks      Date  Rank  \
2  875000  371709  328783712000  63038962299000  70592343  20210105     3

   ChangeCode MarketId
2           1      STK
068270
     Code  Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
6  068270  셀트리온  KOSPI  NaN  354500     7000          2.0  351500  356000

      Low   Volume        Amount          Marcap     Stocks      Date  Rank  \
6  345000  1255776  441147447000  47856721872500  134997805  20210105     7

   ChangeCode MarketId
6           1      STK
207940
     Code      Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
4  207940  삼성바이오로직스  KOSPI  NaN  832000     3000          0.4  825000  834000

      Low  Volume       Amount          Marcap    Stocks      Date  Rank  \
4  818000  119911  99065540000  55049280000000  66165000  20210105     5

   ChangeCode MarketId
4           1      STK

여러 그룹 키로 그룹을 지으면 그룹 이름은 튜플이 된다.

In [62]:
dg = df[:10].groupby(['Code', 'Volume'])
for name, group in dg:
    print(name)
    print(group)

('000660', 7180224)
     Code    Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
1  000660  SK하이닉스  KOSPI  NaN  130500     4500          3.6  124500  132500

      Low   Volume        Amount          Marcap     Stocks      Date  Rank  \
1  124000  7180224  920710588023  95004308632500  728002365  20210105     2

   ChangeCode MarketId
1           1      STK
('005380', 3022595)
     Code Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
8  005380  현대차  KOSPI  NaN  209500     2000          1.0  207000  213000

      Low   Volume        Amount          Marcap     Stocks      Date  Rank  \
8  205000  3022595  631437838500  44763485176500  213668187  20210105     9

   ChangeCode MarketId
8           1      STK
('005930', 35335669)
     Code  Name Market Dept  Close  Changes  ChagesRatio   Open   High    Low  \
0  005930  삼성전자  KOSPI  NaN  83900      900          1.1  81600  83900  81600

     Volume         Amount           Marcap      Stocks      Date  Rank  \
0  35335669  2915618322800  500864755945000  5969782550  20210105     1

   ChangeCode MarketId
0           1      STK
('005935', 3870698)
     Code   Name Market Dept  Close  Changes  ChagesRatio   Open   High  \
3  005935  삼성전자우  KOSPI  NaN  75000      600          0.8  73600  75000

     Low   Volume        Amount          Marcap     Stocks      Date  Rank  \
3  73600  3870698  287698558100  61716502500000  822886700  20210105     4

   ChangeCode MarketId
3           1      STK
('006400', 601692)
     Code   Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
7  006400  삼성SDI  KOSPI  NaN  686000    15000          2.2  675000  686000

      Low  Volume        Amount          Marcap    Stocks      Date  Rank  \
7  658000  601692  403850137943  47172467580000  68764530  20210105     8

   ChangeCode MarketId
7           1      STK
('035420', 912657)
     Code   Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
5  035420  NAVER  KOSPI  NaN  292500     -500         -0.2  291500  292500

      Low  Volume        Amount          Marcap     Stocks      Date  Rank  \
5  286500  912657  263680870000  48047043037500  164263395  20210105     6

   ChangeCode MarketId
5           2      STK
('035720', 748559)
     Code Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
9  035720  카카오  KOSPI  NaN  393000    -3000         -0.8  393000  395500

      Low  Volume        Amount          Marcap    Stocks      Date  Rank  \
9  387000  748559  292576965500  34755566508000  88436556  20210105    10

   ChangeCode MarketId
9           2      STK
('051910', 371709)
     Code  Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
2  051910  LG화학  KOSPI  NaN  893000     4000          0.5  891000  893000

      Low  Volume        Amount          Marcap    Stocks      Date  Rank  \
2  875000  371709  328783712000  63038962299000  70592343  20210105     3

   ChangeCode MarketId
2           1      STK
('068270', 1255776)
     Code  Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
6  068270  셀트리온  KOSPI  NaN  354500     7000          2.0  351500  356000

      Low   Volume        Amount          Marcap     Stocks      Date  Rank  \
6  345000  1255776  441147447000  47856721872500  134997805  20210105     7

   ChangeCode MarketId
6           1      STK
('207940', 119911)
     Code      Name Market Dept   Close  Changes  ChagesRatio    Open    High  \
4  207940  삼성바이오로직스  KOSPI  NaN  832000     3000          0.4  825000  834000

      Low  Volume       Amount          Marcap    Stocks      Date  Rank  \
4  818000  119911  99065540000  55049280000000  66165000  20210105     5

   ChangeCode MarketId
4           1      STK

### 정렬

기본으로 그룹키를 중심으로 정렬된다. 그런데 정렬을 제거하는 `sort=False` 옵션 를 사용하면 속도향상을 위해 무시될 수 있다.

In [13]:
%time df.groupby(['Code']).sum().head(10)

Wall time: 25 ms

,Close,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,Date,Rank,ChangeCode
Code,,,,,,,,,,,,,
000020,607600,-4600,-26.2,613400,623450,597900,12758961,216834711050,16971161172000,1033464390,747776073,17989,66
000040,41189,85,14.0,41302,43156,39693,357493109,469382649765,3874952836302,3476508316,747776073,56148,62
000050,466800,-250,-1.2,467700,474300,458600,1889398,23992286600,12797448036000,1014364990,747776073,22784,66
000060,557850,1850,13.2,558200,566750,549150,21179052,319967081000,67290656250000,4463125000,747776073,5970,53
000070,3210600,11600,16.8,3226200,3289500,3144200,1957968,178710827100,27496448472600,316878027,747776073,11843,56
000075,2026700,5200,16.0,2030950,2059700,1999650,156061,9652845900,616234348600,11250146,747776073,87392,56
000080,1262400,2250,7.8,1265700,1284350,1243100,28919349,992818248000,88536670526400,2594943607,747776073,4877,57
000087,766950,-250,-1.0,767600,773800,756900,157975,3291570200,866759339100,41815106,747776073,85546,59
000100,2568500,-17200,-23.6,2597400,2625000,2541200,21645729,1549023728000,176692285754900,2548489546,747776073,2429,65
000105,2424400,-12100,-17.9,2452200,2473100,2403400,383424,26094661200,2863070936000,43694780,747776073,66238,62

그룹키 순서로 유지 되지만, sort=False로 지시하면 원본 순서로 표시된다.

In [14]:
%time df.groupby(['Code'], sort=False).sum().head(10)

Wall time: 24.6 ms

,Close,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,Date,Rank,ChangeCode
Code,,,,,,,,,,,,,
005930,3144600,-500,0.3,3145200,3199000,3106800,1159769211,99423250939707,18772578206730000,220881954350,747776073,37,60
000660,4844500,15500,13.4,4847500,4947500,4747000,221504830,29236456720118,3526807457242500,26936087505,747776073,74,56
051910,35397000,-58000,-5.2,35613000,36165000,34840000,18663103,17880750157731,2498757165171000,2611916691,747776073,116,57
005935,2799500,-1600,-1.6,2803400,2840500,2770400,135642055,10351153782324,2303671316650000,30446807900,747776073,157,62
207940,29724000,-79000,-9.2,29823000,30182000,29371000,5915156,4813228046262,1966688460000000,2448105000,747776073,234,60
035420,12798500,82000,26.2,12810000,13062000,12551000,51356806,17601127418768,2102325060907500,6077745615,747776073,202,56
068270,12302500,-50000,-12.7,12384500,12659000,12059000,60190065,20484292178500,1660864706961500,4995098341,747776073,331,60
006400,27695000,3000,1.8,27784000,28212000,27210000,19388994,14383662756235,1904433658350000,2544287610,747776073,269,57
005380,9007000,29500,16.9,9025500,9244500,8810500,122970004,30504189112512,1924509360309000,7905722919,747776073,254,56
035720,17025500,92000,22.1,17008000,17335000,16702500,35201684,16087740699421,1507694775259500,3276382609,747776073,362,51

### NA 값은 제외

그룹키에 NA가 있으면 제외되지만, 옵션으로 `dropna=False` 로 그룹키에 포함할 수 있다.

In [15]:
df_list = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]

[[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]

In [16]:
df_dropna = pd.DataFrame(df_list, columns=["a", "b", "c"])
df_dropna

   a   b  c
0  1 2.0  3
1  1 NaN  4
2  2 1.0  3
3  1 2.0  2

In [17]:
df_dropna.groupby('b', dropna=True).sum()

     a  c
b
1.0  2  3
2.0  2  5

In [18]:
df_dropna.groupby('b', dropna=False).sum()

     a  c
b
1.0  2  3
2.0  2  5
NaN  1  4

## 집계 함수 이용

그룹화 객체는 집계 함수를 이용할 수 있다.
 - groupby.[sum, min, ...]
 - groupby.aggregate()

집계 함수는 반환 된 개체의 차원을 줄이는 함수입니다. 몇 가지 일반적인 집계 함수는 아래 표에 나와 있습니다.

함수 | 설명
--------- | ----------------
mean() | 그룹의 평균 계산
sum() | 그룹 값의 합계 계산
size() | 그룹 크기 계산
count() | 그룹 수 계산
std() | 그룹의 표준 편차
var() | 그룹의 분산 계산
sem() | 그룹 평균의 표준 오차
describe() | 기술 통계를 생성합니다.
first() | 그룹 값의 첫 번째 계산
last() | 마지막 그룹 값 계산
nth() | n 번째 값 또는 n이 목록 인 경우 부분 집합을 사용합니다.
min() | 그룹 값의 최소값 계산
max() | 그룹 값의 최대 계산

 - 위 집계 합수는 NA 값을 제외

그룹화 객체는 집계 함수를 이용해 집합으로 처리할 수 있습니다.

In [7]:
df.groupby(['Date', 'Code']).sum()['Marcap']

Date      Code
20210105  000020     541870518000
          000040     103118645250
          000050     337207821000
          000060    1694781250000
          000070     638038189500
                        ...
20210226  950170     178528136700
          950180     598155120000
          950190     318149851250
          950200     263593386700
          950210    2331730814000
Name: Marcap, Length: 93860, dtype: int64

In [100]:
dg = df.groupby(['Date'])

In [101]:
dg.aggregate(np.sum)[:5]

,Close,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,Rank,ChangeCode
Date,,,,,,,,,,,,
20210105,66630981,789478,2325.4,65202544,67260905,64078571,3329450921,45256623710668,2457631628903843,100848044679,3204243,4015
20210106,66512227,-118754,746.4,66271797,67819958,64695985,3775366874,47451684009838,2440392499088799,100868494020,3204245,4306
20210107,67443282,985855,3282.8,66556816,68285807,65420593,3782678504,45401273391905,2485653093321040,101039467673,3204245,3841
20210108,68127228,683946,-421.0,67668883,69392664,65921097,3856835248,61285885180079,2569642637935742,101070068237,3204244,4471
20210111,67217250,-909978,-4205.2,67989393,69502297,64936372,3914777717,64852458288222,2566402648095825,101104922827,3204245,4776

여러 그룹키를 사용하면 다중인덱스 결과를 얻는다.

In [102]:
dg = df.groupby(['Date', 'Name'])
dg.sum()[:5]

                 Close  Changes  ChagesRatio   Open   High    Low   Volume  \
Date     Name
20210105 3S       2250      -10         -0.4   2270   2285   2200   410263
         AJ네트웍스   4935      355          7.8   4640   5240   4635  1406382
         AK홀딩스   25050     -200         -0.8  25200  25200  24750    88941
         APS홀딩스   7900     -100         -1.2   7970   8100   7870   190388
         AP시스템   25150     -350         -1.4  25250  25650  24800   336784

                     Amount        Marcap    Stocks  Rank  ChangeCode
Date     Name
20210105 3S       916510505  100805649750  44802511  1510           2
         AJ네트웍스  6944278490  231068025825  46822295   851           1
         AK홀딩스   2213739350  331851403050  13247561   635           2
         APS홀딩스  1509526820  161114345900  20394221  1103           2
         AP시스템   8459428450  364177709050  14480227   590           2

다중인덱스는 `as_index` 옵션을 사용해 인덱스 사용 여부를 변경할 수 있다.

In [103]:
dg = df.groupby(['Date', 'Name'], as_index=False)
dg.sum()[:5]

,Date,Name,Close,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,Rank,ChangeCode
0,20210105,3S,2250,-10,-0.4,2270,2285,2200,410263,916510505,100805649750,44802511,1510,2
1,20210105,AJ네트웍스,4935,355,7.8,4640,5240,4635,1406382,6944278490,231068025825,46822295,851,1
2,20210105,AK홀딩스,25050,-200,-0.8,25200,25200,24750,88941,2213739350,331851403050,13247561,635,2
3,20210105,APS홀딩스,7900,-100,-1.2,7970,8100,7870,190388,1509526820,161114345900,20394221,1103,2
4,20210105,AP시스템,25150,-350,-1.4,25250,25650,24800,336784,8459428450,364177709050,14480227,590,2

혹은 reset_index 를 사용해서 동일한 결과를 얻을 수 있다.

In [104]:
df.groupby(['Date', 'Name']).sum().reset_index()[:5]

,Date,Name,Close,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,Rank,ChangeCode
0,20210105,3S,2250,-10,-0.4,2270,2285,2200,410263,916510505,100805649750,44802511,1510,2
1,20210105,AJ네트웍스,4935,355,7.8,4640,5240,4635,1406382,6944278490,231068025825,46822295,851,1
2,20210105,AK홀딩스,25050,-200,-0.8,25200,25200,24750,88941,2213739350,331851403050,13247561,635,2
3,20210105,APS홀딩스,7900,-100,-1.2,7970,8100,7870,190388,1509526820,161114345900,20394221,1103,2
4,20210105,AP시스템,25150,-350,-1.4,25250,25650,24800,336784,8459428450,364177709050,14480227,590,2

각 그룹의 크기는 그룹화 객체의 `size()` 메서드를 사용할 수 있습니다.

In [105]:
df.groupby(['Date', 'Name']).size()

Date      Name
20210105  3S         1
          AJ네트웍스     1
          AK홀딩스      1
          APS홀딩스     1
          AP시스템      1
                    ..
20210226  흥국화재2우B    1
          흥국화재우      1
          흥아해운       1
          희림         1
          힘스         1
Length: 93860, dtype: int64

In [106]:
df.groupby(['Name']).size()

Name
3S         37
AJ네트웍스     37
AK홀딩스      37
APS홀딩스     37
AP시스템      37
           ..
흥국화재2우B    37
흥국화재우      37
흥아해운       37
희림         37
힘스         37
Length: 2562, dtype: int64

그룹화 객체의 기본 통계는 describe() 메서드

In [112]:
dg = df.groupby(['Date'])
dg.describe()

          Close                                                       Changes  \
          count    mean     std   min    25%    50%     75%       max   count
Date
20210105 2531.0 26326.0 69670.3 108.0 3120.0 7990.0 22025.0 1610000.0  2531.0
20210106 2531.0 26279.0 69062.6 108.0 3130.0 8030.0 22150.0 1590000.0  2531.0
20210107 2531.0 26646.9 70363.6 108.0 3190.0 8100.0 22325.0 1609000.0  2531.0
20210108 2531.0 26917.1 72182.1 108.0 3152.5 8080.0 22050.0 1638000.0  2531.0
20210111 2531.0 26557.6 71433.5 108.0 3112.5 7930.0 21475.0 1602000.0  2531.0
20210112 2531.0 26428.7 70366.5 108.0 3140.0 8000.0 21375.0 1560000.0  2531.0
20210113 2531.0 26613.0 71193.8 108.0 3167.5 8130.0 21725.0 1598000.0  2531.0
20210114 2531.0 26820.3 71433.3  97.0 3187.5 8120.0 22050.0 1596000.0  2531.0
20210115 2530.0 26549.9 70576.6  90.0 3196.2 8065.0 21937.5 1580000.0  2530.0
20210118 2530.0 26006.3 69069.0  94.0 3150.0 7880.0 21250.0 1539000.0  2530.0
20210119 2530.0 26457.8 70235.1  96.0 3202.5 8010.0 21600.0 1551000.0  2530.0
20210120 2530.0 26803.2 70841.2  86.0 3241.2 8095.0 21975.0 1554000.0  2530.0
20210121 2532.0 27095.3 71302.8  85.0 3300.0 8205.0 22475.0 1545000.0  2532.0
20210122 2532.0 27160.0 71772.5  97.0 3293.8 8190.0 22212.5 1562000.0  2532.0
20210125 2534.0 27708.4 73883.3  95.0 3320.0 8240.0 22675.0 1676000.0  2534.0
20210126 2533.0 27528.1 73027.7  81.0 3295.0 8150.0 22600.0 1626000.0  2533.0
20210127 2534.0 27409.8 72967.9  83.0 3311.2 8110.0 22200.0 1602000.0  2534.0
20210128 2536.0 26948.0 72193.5  71.0 3220.0 8000.0 21675.0 1589000.0  2536.0
20210129 2537.0 26096.8 70055.8  63.0 3135.0 7740.0 21000.0 1557000.0  2537.0
20210201 2537.0 26538.0 71359.3  56.0 3160.0 7820.0 21300.0 1564000.0  2537.0
20210202 2538.0 26813.5 72200.4  60.0 3230.0 8030.0 21637.5 1599000.0  2538.0
20210203 2540.0 27145.4 73691.5  65.0 3298.8 8080.0 21762.5 1632000.0  2540.0
20210204 2541.0 26998.8 73166.2  69.0 3295.0 8080.0 21650.0 1623000.0  2541.0
20210205 2543.0 27144.2 73745.7  65.0 3315.0 8090.0 21725.0 1626000.0  2543.0
20210208 2543.0 27041.6 73876.3  38.0 3300.0 8060.0 21575.0 1656000.0  2543.0
20210209 2542.0 26971.7 73462.0  28.0 3256.2 8030.0 21687.5 1652000.0  2542.0
20210210 2543.0 27182.9 74034.4  15.0 3262.5 8080.0 21800.0 1672000.0  2543.0
20210215 2542.0 27433.2 74345.5  70.0 3322.5 8140.0 21950.0 1680000.0  2542.0
20210216 2542.0 27465.9 73994.5  74.0 3320.0 8185.0 21900.0 1627000.0  2542.0
20210217 2542.0 27354.3 73427.2  70.0 3362.5 8275.0 21987.5 1616000.0  2542.0
20210218 2542.0 27061.6 72557.6  74.0 3335.0 8200.0 21887.5 1596000.0  2542.0
20210219 2542.0 27037.0 72560.7  67.0 3330.0 8150.0 21787.5 1600000.0  2542.0
20210222 2542.0 26777.2 71294.1  64.0 3365.0 8130.0 21687.5 1561000.0  2542.0
20210223 2542.0 26586.0 71070.9  66.0 3320.0 8060.0 21487.5 1585000.0  2542.0
20210224 2543.0 25806.0 69403.1  70.0 3197.5 7800.0 20900.0 1558000.0  2543.0
20210225 2544.0 26466.3 70991.1  68.0 3260.0 7990.0 21450.0 1567000.0  2544.0
20210226 2546.0 25909.3 69137.6  63.0 3200.0 7825.0 20837.5 1513000.0  2546.0

                 ...   Rank        ChangeCode
           mean  ...    75%    max      count mean std min 25% 50% 75% max
Date             ...
20210105  311.9  ... 1898.5 2531.0     2531.0  1.6 0.7 1.0 1.0 1.0 2.0 3.0
20210106  -46.9  ... 1898.5 2531.0     2531.0  1.7 0.6 1.0 1.0 2.0 2.0 3.0
20210107  389.5  ... 1898.5 2531.0     2531.0  1.5 0.7 1.0 1.0 1.0 2.0 3.0
20210108  270.2  ... 1898.5 2531.0     2531.0  1.8 0.6 1.0 1.0 2.0 2.0 3.0
20210111 -359.5  ... 1898.5 2531.0     2531.0  1.9 0.5 1.0 2.0 2.0 2.0 3.0
20210112 -128.9  ... 1898.5 2531.0     2531.0  1.7 0.7 1.0 1.0 2.0 2.0 3.0
20210113  228.7  ... 1898.5 2531.0     2531.0  1.5 0.7 1.0 1.0 1.0 2.0 3.0
20210114  207.8  ... 1898.5 2531.0     2531.0  1.6 0.7 1.0 1.0 1.0 2.0 3.0
20210115 -285.5  ... 1897.8 2530.0     2530.0  1.8 0.6 1.0 1.0 2.0 2.0 3.0
20210118 -537.6  ... 1897.8 2530.0     2530.0  1.9 0.5 1.0 2.0 2.0 2.0 3.0
20210119  452.0  ... 1897.8 2530.0     2530.0  1.4 0.6 1.0 1.0 1.0 2.0 3.0
20210120  345.4  ... 1897.8 2530.0     2530.0  1.5 0.7 1.0 1.0 1.0 2.0 3.0
20210121  297.5  ... 1899.2 2532.0     2532.0  1.5 0.7 1.0 1.0 1.0 2.0 3.0
20210122   64.9  ... 1899.2 2532.0     2532.0  1.7 0.6 1.0 1.0 2.0 2.0 3.0
20210125  489.3  ... 1900.8 2534.0     2534.0  1.5 0.7 1.0 1.0 1.0 2.0 3.0
20210126 -190.4  ... 1900.0 2533.0     2533.0  1.8 0.6 1.0 1.0 2.0 2.0 3.0
20210127 -116.4  ... 1900.8 2534.0     2534.0  1.8 0.6 1.0 1.0 2.0 2.0 3.0
20210128 -448.7  ... 1902.2 2536.0     2536.0  1.9 0.5 1.0 2.0 2.0 2.0 3.0
20210129 -852.3  ... 1903.0 2537.0     2537.0  2.0 0.4 1.0 2.0 2.0 2.0 3.0
20210201  635.5  ... 1903.0 2537.0     2537.0  1.4 0.7 1.0 1.0 1.0 2.0 3.0
20210202  272.6  ... 1903.8 2538.0     2538.0  1.4 0.7 1.0 1.0 1.0 2.0 3.0
20210203  335.3  ... 1905.2 2540.0     2540.0  1.5 0.7 1.0 1.0 1.0 2.0 3.0
20210204 -136.7  ... 1906.0 2541.0     2541.0  1.8 0.6 1.0 1.0 2.0 2.0 3.0
20210205  146.4  ... 1907.5 2543.0     2543.0  1.6 0.7 1.0 1.0 2.0 2.0 3.0
20210208  -69.3  ... 1907.5 2543.0     2543.0  1.8 0.6 1.0 1.0 2.0 2.0 3.0
20210209  -62.5  ... 1906.8 2542.0     2542.0  1.7 0.7 1.0 1.0 2.0 2.0 3.0
20210210  220.9  ... 1907.5 2543.0     2543.0  1.6 0.7 1.0 1.0 1.0 2.0 3.0
20210215  239.7  ... 1906.8 2542.0     2542.0  1.5 0.7 1.0 1.0 1.0 2.0 3.0
20210216   38.6  ... 1906.8 2542.0     2542.0  1.6 0.7 1.0 1.0 2.0 2.0 3.0
20210217  -67.1  ... 1906.8 2542.0     2542.0  1.6 0.7 1.0 1.0 2.0 2.0 3.0
20210218 -292.4  ... 1906.8 2542.0     2542.0  1.8 0.6 1.0 1.0 2.0 2.0 3.0
20210219  -24.6  ... 1906.8 2542.0     2542.0  1.8 0.6 1.0 1.0 2.0 2.0 3.0
20210222 -259.8  ... 1906.8 2542.0     2542.0  1.8 0.6 1.0 1.0 2.0 2.0 3.0
20210223 -191.2  ... 1906.8 2542.0     2542.0  1.8 0.6 1.0 1.0 2.0 2.0 3.0
20210224 -782.5  ... 1907.5 2543.0     2543.0  2.0 0.4 1.0 2.0 2.0 2.0 3.0
20210225  657.8  ... 1908.2 2544.0     2544.0  1.3 0.6 1.0 1.0 1.0 1.0 3.0
20210226 -542.3  ... 1909.8 2546.0     2546.0  1.9 0.5 1.0 2.0 2.0 2.0 3.0

[37 rows x 96 columns]

### `.agg()` : 한 번에 여러 기능 적용

그릅화 Series 객체에는 여러 집 수행 함수, 혹은 딕트를 전달할 수 있다. 결과는 데이터프레임을 출력할 수 있다.

In [116]:
df.groupby(['Code'])['Marcap'].agg([np.sum, np.mean, np.std])

                   sum            mean            std
Code
000020  16971161172000  458680031675.7  43249381415.5
000040   3874952836302  104728455035.2  15787404455.5
000050  12797448036000  345876973945.9  12454995719.1
000060  67290656250000 1818666385135.1  72634139427.7
000070  27496448472600  743147256016.2  55075598222.5
...                ...             ...            ...
950170   6434539107355  173906462360.9   8641044439.1
950180  19384227630000  523898044054.1  53370773448.7
950190  12184754236550  329317682068.9   8520768162.8
950200   9692406958850  261956944833.8  31793468706.7
950210  34561298740500 2468664195750.0 357084677622.3

[2550 rows x 3 columns]

혹은 그룹화 데이터프레임 에서는 각 열에 적용할 함수 목록을 전달해 집계 결과를 생성할 수 있다.

In [118]:
df.groupby(['Code']).agg([np.sum, np.mean, np.std])

          Close                Changes               ChagesRatio            \
            sum    mean    std     sum   mean    std         sum mean  std
Code
000020   607600 16421.6 1548.4   -4600 -124.3  427.8       -26.2 -0.7  2.6
000040    41189  1113.2  153.3      85    2.3   65.9        14.0  0.4  6.5
000050   466800 12616.2  454.3    -250   -6.8  279.7        -1.2 -0.0  2.2
000060   557850 15077.0  602.1    1850   50.0  351.2        13.2  0.4  2.3
000070  3210600 86773.0 6430.9   11600  313.5 3102.4        16.8  0.5  3.5
...         ...     ...    ...     ...    ...    ...         ...  ...  ...
950170   183815  4968.0  246.8    -250   -6.8  123.8        -3.7 -0.1  2.4
950180   920350 24874.3 2534.0   -1000  -27.0 1783.9         5.4  0.1  6.7
950190   906850 24509.5  673.2   -2450  -66.2  376.0        -9.4 -0.3  1.5
950200   511950 13836.5 1680.9   -4050 -109.5  533.4       -22.9 -0.6  3.9
950210   575100 41078.6 5941.9   10000  714.3 4464.5        38.9  2.8 12.0

           Open  ...    Stocks       Date                   Rank               \
            sum  ...       std        sum       mean  std    sum   mean   std
Code             ...
000020   613400  ...       0.0  747776073 20210164.1 49.6  17989  486.2  37.7
000040    41302  ... 2268219.0  747776073 20210164.1 49.6  56148 1517.5 122.8
000050   467700  ...       0.0  747776073 20210164.1 49.6  22784  615.8  23.6
000060   558200  ...       0.0  747776073 20210164.1 49.6   5970  161.4   5.7
000070  3226200  ...       0.0  747776073 20210164.1 49.6  11843  320.1  22.0
...         ...  ...       ...        ...        ...  ...    ...    ...   ...
950170   184170  ...       0.0  747776073 20210164.1 49.6  39481 1067.1  41.3
950180   913100  ...       0.0  747776073 20210164.1 49.6  16288  440.2  35.2
950190   909600  ...   92529.2  747776073 20210164.1 49.6  23804  643.4  15.4
950200   517200  ...   13837.5  747776073 20210164.1 49.6  29443  795.8  80.2
950210   563450  ...       0.0  282943037 20210216.9  6.8   1812  129.4  15.2

       ChangeCode
              sum mean std
Code
000020         66  1.8 0.6
000040         62  1.7 0.6
000050         66  1.8 0.7
000060         53  1.4 0.6
000070         56  1.5 0.6
...           ...  ...  ..
950170         57  1.5 0.6
950180         56  1.5 0.5
950190         61  1.6 0.5
950200         62  1.7 0.5
950210         20  1.4 0.5

[2550 rows x 39 columns]

### 열에 다른 집계 함수 적용

aggregate 에 딕트로 다른 집계 함수를 적용할 수 있다.

In [119]:
# df.groupby('Code').agg({'Marcap': np.sum, 'Changes': np.mean})

                Marcap  Changes
Code
000020  16971161172000   -124.3
000040   3874952836302      2.3
000050  12797448036000     -6.8
000060  67290656250000     50.0
000070  27496448472600    313.5
...                ...      ...
950170   6434539107355     -6.8
950180  19384227630000    -27.0
950190  12184754236550    -66.2
950200   9692406958850   -109.5
950210  34561298740500    714.3

[2550 rows x 2 columns]

집계 함수를 문자로 전달할 수 있다.

In [120]:
df.groupby('Code').agg({'Marcap': 'sum', 'Changes': 'mean'})

                Marcap  Changes
Code
000020  16971161172000   -124.3
000040   3874952836302      2.3
000050  12797448036000     -6.8
000060  67290656250000     50.0
000070  27496448472600    313.5
...                ...      ...
950170   6434539107355     -6.8
950180  19384227630000    -27.0
950190  12184754236550    -66.2
950200   9692406958850   -109.5
950210  34561298740500    714.3

[2550 rows x 2 columns]

### Cython 최적화 집계 함수

현재 버전에서 Cython으로 sum, mean, std, sem 구현을 최적화 했다.

### 변환 `transform`

transform 메서드는 그룹화 되는 것과 동일한 인덱싱 된 개체를 반환한다. 변환함수는 다음을 충족해야 한다.
 - 그룹 청크와 크기가 같거나 그룹 청크 크기로 브로드 캐스트 할 수 있는 결과를 반환
      - 예) `grouped.transform(lambda x: x.iloc[-1)`
 - 그룹 청크에서 열 단위로 작동